<div class="wb-event-list">
    <div class="wb-tiles" data-event-list>
        {{ content }}
    </div>
    <div class="wb-no-events">
        {{ __('No events were found', 'wsbintegration') }}
    </div>
</div>
