{% from "event/list.twig" import list as drawEvents %}
<div class="{{ theme }}">
    <div class="wb-content">
        [wsb_trainer_list_filters filters='location,language']
        {{ drawEvents(events, template) }}
    </div>
</div>
