<div class="{{ theme }}">
    <div class="wb-content">
    <div class="wb-page">
        <div class="wb-header wb-center">
            [wsb_event_title]
        </div>
        <div class="wb-body wb-center">
            <div class="wb-right-col">
                [wsb_event_registration_button]
                [wsb_event_dates]
                [wsb_event_location]
                [wsb_event_tickets]
                [wsb_event_events]
                [wsb_event_social_links]
            </div>
            <div class="wb-left-col">
                [wsb_event_description]
                [wsb_event_trainers]
                [wsb_event_registration_form]

            </div>
        </div>
    </div>
</div>
</div>
