<div class="{{ theme }}">
    <div class="wb-content">
        [wsb_schedule_filters]
        [wsb_schedule_item]
            [wsb_schedule_title]
            [wsb_schedule_info]
            [wsb_schedule_register]
        [/wsb_schedule_item]
    </div>
</div>
