<div class="{{ theme }}">
    <div class="wb-content">
        [wsb_event_list_filters]
        [wsb_event_list_item]
            [wsb_event_list_title]
            [wsb_event_list_info]
            [wsb_event_list_register]
        [/wsb_event_list_item]
    </div>
</div>
