<div class="{{ theme }}">
    <div class="wb-content">
        <div class="wb-page">
            <div class="wb-body wb-center">
                <div class="wb-trainer-details__header">
                    <div class="wb-trainer__header-row">
                        [wsb_trainer_photo]
                        [wsb_trainer_name]
                        <div class="wb-trainer-details-subtitle-container">
                            <div class="wb-trainer__social-networks">
                                [wsb_trainer_social_link type='website']
                                [wsb_trainer_social_link type='blog']
                                [wsb_trainer_social_link type='twitter']
                                [wsb_trainer_social_link type='facebook']
                                [wsb_trainer_social_link type='linkedin']
                                [wsb_trainer_social_link type='google-plus']
                            </div>
                        </div>
                        [wsb_trainer_email]
                    </div>
                    <div class="wb-trainer__header-row">
                        <div class="wb-trainer-details-facts">
                            [wsb_trainer_stats type='years']
                            [wsb_trainer_stats type='events']
                            [wsb_trainer_stats type='public-rating']
                            [wsb_trainer_stats type='private-rating']
                        </div>
                    </div>
                </div>
                <div class="wb-right-col">
                    [wsb_trainer_badges]
                    <div class="wb-trainer-events">
                        [wsb_trainer_events]
                        [wsb_trainer_events future=false]
                    </div>
                </div>
                <div class="wb-left-col">
                    [wsb_trainer_bio]
                    [wsb_trainer_endorsements]
                        <h3>{{ __('Attendees Feedback', 'wsbintegration') }}</h3>
                        <div class="wb-trainer-details-endorsements">
                            [wsb_trainer_endorsement]
                                <div class="wb-endorsement">
                                    [wsb_trainer_endorsement_author]
                                    [wsb_trainer_endorsement_rating]
                                    [wsb_trainer_endorsement_content]
                                </div>
                            [/wsb_trainer_endorsement]
                        </div>
                    [/wsb_trainer_endorsements]
                </div>
            </div>
        </div>
    </div>
</div>
