<div class="wb-trainer-list">
    <div class="wb-tiles" data-trainer-list>
        {{ content }}
    </div>
    <div class="wb-no-trainers">
        {{ __('No trainers were found', 'wsbintegration') }}
    </div>
</div>
