<div class="wb-trainer-tile" data-trainer-obj
     data-trainer-location="{{ trainer.country }}"
     data-trainer-language="{{ trainer.languages|join(',') }}"
     data-trainer-trainer="{{ trainer.full_name }}">
    <div class="wb-trainer-tile__box">
        {{ content }}
    </div>
</div>
