<div class="{{ theme }}">
    <div class="wsb-content">
        <div class="wsb-page wsb-event-page">
            <div class="wsb-body">
                <div class="wsb-toolbar wsb-first">
                    [wsb_event_registration_button]
                    [wsb_event_schedule]
                    [wsb_event_location]
                    [wsb_event_tickets]
                    [wsb_event_trainers]
                </div>
                <div class="wsb-description">
                    [wsb_event_description]
                </div>
                <div class="wsb-toolbar wsb-second">
                    [wsb_event_social_links]
                    [wsb_event_events]
                </div>
            </div>
        </div>
    </div>
</div>
