<div class="{{ theme }}">
    <div class="wsb-content">
        <div class="wsb-page wsb-event-page">
            <div class="wsb-body wsb-center">
                <div class="wsb-right-col">
                    [wsb_event_registration_button]
                    [wsb_event_schedule]
                    [wsb_event_location]
                    [wsb_event_tickets]
                    [wsb_event_trainers]
                    [wsb_event_events]
                    [wsb_event_social_links]
                </div>
                <div class="wsb-left-col">
                    [wsb_event_description]
                </div>
            </div>
        </div>
    </div>
</div>
