<div class="{{ theme }}">
    <div class="wsb-content">
        [wsb_schedule_filters]
        [wsb_schedule_item]
            [wsb_schedule_title]
            [wsb_schedule_schedule]
            [wsb_schedule_location]
            [wsb_schedule_trainers]
            [wsb_schedule_register]
        [/wsb_schedule_item]
    </div>
</div>
