<div class="wsb-trainer-list">
    <div class="wsb-tiles" data-trainer-list>
        {{ content | raw }}
    </div>
    <div class="wsb-no-trainers">
        {{ __('trainers.noTrainers', 'wsbintegration') }}
    </div>
</div>
