<div class="{{ theme }}">
    <div class="wsb-content">
        [wsb_trainer_list_filters]
        [wsb_trainer_list_item]
            [wsb_trainer_list_photo]
            <div class="wsb-trainer-tile__info">
                [wsb_trainer_list_name]
                [wsb_trainer_list_country]
                [wsb_trainer_list_badges]
                [wsb_trainer_list_rating]
            </div>
        [/wsb_trainer_list_item]
    </div>
</div>
