<div class="{{ theme }}">
    <div class="wsb-content">
        <div class="wsb-page">
            <div class="wsb-body wsb-trainer-profile">
                <div class="wsb-trainer__header">
                    <div class="wsb-trainer__header-row">
                        [wsb_trainer_photo]
                        <div class="wsb-trainer__header-col">
                            <div class="wsb-trainer-buttons">
                                <div class="wsb-trainer__social-networks">
                                    [wsb_trainer_social_link type='website']
                                    [wsb_trainer_social_link type='blog']
                                    [wsb_trainer_social_link type='twitter']
                                    [wsb_trainer_social_link type='facebook']
                                    [wsb_trainer_social_link type='linkedin']
                                </div>
                                [wsb_trainer_email]
                            </div>
                            [wsb_trainer_country]
                        </div>
                    </div>
                    <div class="wsb-trainer__header-row">
                        <div class="wsb-trainer-details-facts">
                            [wsb_trainer_stats type='years']
                            [wsb_trainer_stats type='events']
                            [wsb_trainer_stats type='public-rating']
                            [wsb_trainer_stats type='private-rating']
                        </div>
                    </div>
                </div>
                <div class="wsb-toolbar wsb-first">
                    [wsb_trainer_badges]
                </div>
                <div class="wsb-description">
                    [wsb_trainer_bio]
                    [wsb_trainer_testimonials]
                        <h3>{{ wsb_t('trainer.feedback') }}</h3>
                        <div>
                            [wsb_testimonial]
                                <div class="wsb-testimonial">
                                    [wsb_testimonial_author]
                                    [wsb_testimonial_rating]
                                    [wsb_testimonial_content]
                                </div>
                            [/wsb_testimonial]
                        </div>
                    [/wsb_trainer_testimonials]
                </div>
                <div class="wsb-toolbar wsb-second">
                    <div class="wsb-trainer-events">
                        [wsb_trainer_events]
                        [wsb_trainer_events future=false]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
