/* This part must in in common styles */
/* Temporary here */
.b-error {
  position: absolute;
  right: 0px;
  top: 32px;
  font-size: 10px;
  color: #E73B2B;
}

.wsb-content .wsb-form__payment-alert {
  background-color: #E73B2B;
  color: white;
  padding: 1em;
}
.wsb-content .wsb-not-secure-alert,
.wsb-content .wsb-no-payment-method {
  display: none;
}

.wsb-content .wsb-form-not-secure .wsb-not-secure-alert {
  display: block;
}
.wsb-content .wsb-form-without-payment .wsb-no-payment-method {
  display: block;
}

.wsb-form__error {
  margin-left: 10em;
}

.wsb-content .wsb-form__field {
  position: relative;
}
.wsb-content .wsb-stripe-card-error {
  padding-top: 1em;
  color: #E73B2B;
}

.wsb-content .wsb-form__payment {
  margin-bottom: 0;
}

.wsb-content .wsb-form__card {
  border-color: #BBB;
  border-radius: 2px;
  height: 2em;
  margin-bottom: 1em;
}
.wsb-form__payment-holder {
  width: 100%;
  display: block;
}

.wsb-form__payment-holder .wsb-form__error {
  padding-bottom: 0;
}

.wsb-content .wsb-form__btn:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* This part is only relevant for WordPress */
.wsb-content .wsb-trainer-profile .wsb-trainer-buttons {
  padding-top: 1em;
}
.wsb-content .wsb-left-col {
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: descr;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
}
.wsb-content .wsb-right-col {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: first;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  .wsb-content .wsb-left-col {
    width: 100%;
    margin-right: 0;
  }
  .wsb-content .wsb-right-col {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

/** promo link **/
.wsb-content a.wsb-promo-link:focus {
  outline: none;
}
