<div class="wsb-trainer-details-title-container">
    <h1 class="wsb-trainer-details-title">{{ trainer.full_name() }}</h1>
    {% if with_country %}
        <div class="wsb-trainer-details-country">{{ __("country.#{trainer.country_code}", 'wsbintegration') }}</div>
    {% endif %}
</div>
