{% macro drawFilters(availableFilters) %}
    {% from "common/filter.twig" import filter as filter %}
    {% if availableFilters|length > 0 %}
        <div class="wb-filters">
            {% for item in availableFilters %}
                {{ filter(item.name, item.values) }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
