<div class="wsb-schedule">
    <div class="wsb-tiles" data-event-list>
        {{ content | raw }}
    </div>
    <div class="wsb-no-events">
        {{ __('schedule.noEvents', 'wsbintegration') }}
    </div>
</div>
