{% if layout == 'tile' %}
    <div class="wsb-tile-info">
        {{ wsb_f(event.location) }}
    </div>
{% else %}
    <div class="wsb-table__col">{{ wsb_f(event.location) }}
        {% if event.free %}
            <div class="wsb-free wsb-first">{{ wsb_t('schedule.event.free') }}</div>
        {% endif %}
    </div>
{% endif %}
