{% macro list(events, tmpl) %}
    {% from "event/tile.twig" import drawEvent as drawEvent %}
    <div class="wb-event-list">
        <div class="wb-tiles" data-event-list>
            {% for event in events %}
                {{ drawEvent(event) }}
            {% endfor %}
        </div>
        <div class="wb-no-events">
            {{ __('No events were found', 'wsbintegration') }}
        </div>
    </div>
{% endmacro %}
