<div class="wsb-info">
    <div class="wsb-info__title">{{ __('event.info.loc', 'wsbintegration') }}:</div>
    {{ wsb_f(event.location) }}
    <div class="wsb-info__footer">{{ wsb_f(event.language) }}</div>
</div>
