<div>
    {% if event.state.closed() %}
        <button class="wsb-sidebar__register" disabled>{{ wsb_f(event.state) }}</button>
    {% else %}
        <a href="{{ event.registration_page.url }}" target="{{ target }}"
           class="wsb-sidebar__register">{{ wsb_t('event.register') }}</a>
    {% endif %}
</div>
